@model List<Category>
<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-11 col-md-3">
            <div class="card" style="margin-top: 20px;">
                <img src="~/images/eng.png" class="card-img-top1" alt="..." data-toggle="modal" data-target="#productModal"
                     height="200px">
                     
                <!-- Set a max-height for the image -->
                <div class="card-body">
                    <h4 class="card-title">General Languages</h4>
                    <div class="text-container">
                        <br>

                        <div style="float:left">
                            <h4 style="color:rgba(115, 82, 12, 0.546);float:left">$47.7</h4>

                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>

                            <span>(4,678)</span>
                            
                            <br/>
                            <br/>
                            <a href="/ServicesCategory/Course1" class="btn btn-danger" style=" background-color:darkred" id="hello">View Courses</a>

                        </div>
                        <br>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11 col-md-3">
            <div class="card" style="margin-top: 20px;">
                <img src="~/images/pro.jpg" class="scale-with-grid wp-post-image" alt="" decoding="async" loading="lazy"
                     height="200px" class="card-img-top1" alt="..." data-toggle="modal" height="200px"
                     data-target="#productModal1">
                <div class="card-body">
                    <h4 class="card-title">Web Development</h4>
                    <div class="text-container">
                        <br>

                        <div style="float:left">
                            <h4 style="color:rgba(115, 82, 12, 0.546);float:left">$50.7</h4>

                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>

                            <span>(5,678)</span>

                            <br />
                            <br />
                            <a href="/ServicesCategory/Course2" class="btn btn-danger" style=" background-color:darkred" id="hello">View Courses</a>
                        </div>
                        <br>
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11 col-md-3">
            <div class="card" style="margin-top: 20px;">

                <img src="~/images/home.png" alt="" decoding="async" loading="lazy" height="200px" class="card-img-top1"
                     alt="..." data-toggle="modal" data-target="#productModal2">
                <!-- Set a max-height for the image -->
                <div class="card-body">
                    <h4 class="card-title">Programming </h4>
                    <div class="text-container">
                        <br>

                        <div style="float:left">
                            <h4 style="color:rgba(115, 82, 12, 0.546);float:left">$65.7</h4>

                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>

                            <span>(6,678)</span>
                            <br />
                            <br />
                            <a href="/ServicesCategory/Course3" class="btn btn-danger" style=" background-color:darkred" id="hello">View Courses</a>
                        </div>
                        
                                           
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-around">
        <div class="col-11 col-md-3">
            <div class="card" style="margin-top: 20px;">

                <img src="~/images/canva.png" height="200px" class="scale-with-grid wp-post-image" alt="" loading="lazy"
                     class="card-img-top1" alt="..." data-toggle="modal" data-target="#productModal6">
                <!-- Set a max-height for the image -->
                <div class="card-body">
                    <h4 class="card-title">Graphic Designing</h4>
                    <div class="text-container">
                        <br>

                        <div style="float:left">
                            <h4 style="color:rgba(115, 82, 12, 0.546);float:left">$33.5</h4>

                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>

                            <span>(3,678)</span>
                            <br />
                            <br />
                            <a href="/ServicesCategory/Course4" class="btn btn-danger" style=" background-color:darkred" id="hello">View Courses</a>
                        </div>
                        <br>
                        <br>
                                                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11 col-md-3">
            <div class="card" style="margin-top: 20px;">


                <img src="~/images/bussiness.png" height="200px" class="scale-with-grid wp-post-image" alt="" loading="lazy"
                     class="card-img-top1" alt="..." data-toggle="modal" data-target="#productModal7">
                <div class="card-body">
                    <h4 class="card-title">Bussiness Management</h4>
                    <div class="text-container">
                        <br>

                        <div style="float:left">
                        <h4 style="color:rgba(115, 82, 12, 0.546);float:left">$11.7</h4>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>

                            <span>(1,678)</span>
                            <br />
                            <br />
                            <a href="/ServicesCategory/Course5" class="btn btn-danger" style=" background-color:darkred" id="hello">View Courses</a>
                        </div>
                        <br>
                        <br>
                        
                    </div>

                </div>
            </div>
        </div>

        <div class="col-11 col-md-3">
            <div class="card" style="margin-top: 20px;">
                <img src="~/images/koja.png" height="200px" class="scale-with-grid wp-post-image" alt="" loading="lazy"
                     class="card-img-top1" alt="..." data-toggle="modal" data-target="#productModal8">
                <!-- Set a max-height for the image -->
                <div class="card-body">
                    <h4 class="card-title">App Development</h4>
                    <div class="text-container">
                        <br>

                        <div style="float:left">
                          <h4 style="color:rgba(115, 82, 12, 0.546);float:left;font-size:20px">$82.7</h4>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>
                            <i class="fa fa-star checked" style="color:rgb(207, 156, 29)"></i>

                            <span>(8,678)</span>
                            <br />
                            <br />
                            <a href="/ServicesCategory/Course6" class="btn btn-danger" style=" background-color:darkred" id="hello">View Courses</a>
                            <br/>

                        </div>
                        <br/>
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

