<br />
<br />
<section class="dark">
    <div class="container py-4">

        <article class="postcard dark blue">
            <a class="postcard__img_link" href="#">
                <img class=" postcard__img" src="~/images/ap.png" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="#">Where Ideas Take Flight - Elevate Your Online Experience with Our Web Services!</a></h1>

                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Welcome to Tutors, a dynamic online platform brought to you for premier destination for Superb online web learning services. We are a passionate team of tech enthusiasts and creative minds, dedicated to providing innovative Course that cater to your unique needs. With a track record of excellence and a commitment to students satisfaction, we are your trusted partner in shaping your online success.</div>


            </div>
        </article>
        <article class="postcard dark red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="~/images/4.png" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title red"><a href="#">Who Tutors Are</a></h1>

                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">

                  @TempData["about"]
                </div>
               
            </div>
        </article>
    </div>

  </section>
