﻿@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<style>
    /* Add your custom styles here */
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color:peachpuff;
    }

 
    form {
    
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        margin: auto;
        height:200px;
        background-color:white;
    }

    

    label {
        font-weight: bold;
        color: black;
    }

    input[type="text"], input[type="email"],
    input[type="file"] {
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

        button:hover {
            background-color: #0056b3;
        }

    
    
</style>
<br />
<br />
<br />
<br />
<br />

<form method="post" action="/Home/UploadFiles" enctype="multipart/form-data">
    <label for="userfiles">Select a file</label>
    </br>
    <br />
    <br />
     <input type="file" name="userfiles" multiple style="align-items:center" />
    <br />
    <br />
    <br />
   <button >Upload</a>
   </button>
</form>