<style>
    #hello{
        display:block;
        diplay:flex;
        margin:auto;
        align-items:center;
        width:200px;
    }
</style>
<br/>
<br/>
<div class="container-fluid" style="margin-top: 70px; text-align: center;color:darkred">
   <h3>Thank you for your order!</h3>
   <br/>
   <p>Your order has been successfully placed</p>
    </div>
    <a href="/ServicesCategory/Course" class="btn btn-danger" id="hello">Continue Shopping</a>
