<style>

	.c-details span {
		font-weight: 300;
		font-size: 13px
	}

	.icon {
		width: 50px;
		height: 50px;
		background-color: #eee;
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 39px
	}

	.badge span {
		background-color: white;
		width: 60px;
		height: 25px;
		padding-bottom: 3px;
		border-radius: 5px;
		display: flex;
		color: #fed85d;
		justify-content: center;
		align-items: center
	}

	.progress {
		height: 10px;
		border-radius: 10px
	}

		.progress div {
			background-color: red
		}

	.text1 {
		font-size: 14px;
		font-weight: 600
	}

	.text2 {
		color: #a5aec0;
	}

	.con {
		background-image: url('/images/pro.jpg');
	}
</style>
<div class="con">
	<div id="cards_landscape_wrap-2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<a href="">
						<div class="card-flyer">
							<div class="text-box">
								<div class="image-box">
									<img src="~/images/hc.ong.jpg" alt="" />
								</div>
								<div class="text-container">
									<h6> Web Deve using HTML5 AND CSS</h6>
									<br>
									<i class="fas fa-cart-plus"></i> Add to Cart

								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<a href="">
						<div class="card-flyer">
							<div class="text-box">
								<div class="image-box">
									<img src="~/images/javascript.png" alt="" />
								</div>
								<div class="text-container">
									<h6>Interactivity With Javascript </h6>
									<br>
									<i class="fas fa-cart-plus"></i> Add to Cart

								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<a href="">
						<div class="card-flyer">
							<div class="text-box">
								<div class="image-box">
									<img src="~/images/react.png" alt="" />
								</div>

								<div class="text-container">
									<h6> Web Development using React js</h6>
									<br>
									<i class="fas fa-cart-plus"></i> Add to Cart

								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<a href="">
						<div class="card-flyer">
							<div class="text-box">
								<div class="image-box">
									<img src="~/images/fs.png" alt="" />
								</div>
								<div class="text-container">
									<h6>Fronted Deve with Mern </h6>
									<br>
									<i class="fas fa-cart-plus"></i> Add to Cart

								</div>
							</div>
						</div>
					</a>
				</div>
				<div id="cards_landscape_wrap-2">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<a href="">
									<div class="card-flyer">
										<div class="text-box">
											<div class="image-box">
												<img src="~/images/sql.png" alt="" />
											</div>
											<div class="text-container">
												<h6>Structured Query Language</h6>
												<br>
												<i class="fas fa-cart-plus"></i> Add to Cart

											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<a href="">
									<div class="card-flyer">
										<div class="text-box">
											<div class="image-box">
												<img src="~/images/ang.png" alt="" />
											</div>
											<div class="text-container">
												<h6>Full Stack   with Angular.js</h6>
												<br>
												<i class="fas fa-cart-plus"></i> Add to Cart

											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<a href="">
									<div class="card-flyer">
										<div class="text-box">
											<div class="image-box">
												<img src="~/images/c_net.png" alt="" />
											</div>

											<div class="text-container">
												<h6>BackEnd Learning With C#</h6>
												<br>
												<i class="fas fa-cart-plus"></i> Add to Cart


											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<a href="">
									<div class="card-flyer">
										<div class="text-box">
											<div class="image-box">
												<img src="~/images/py.png" alt="" />
											</div>
											<div class="text-container">
												<h6>BackEnd Learning With Python</h6>
												<br>
												<i class="fas fa-cart-plus"></i> Add to Cart

											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
